@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --white-color: hsl(0, 0%, 100%);
    --light-gray-color: hsl(212, 45%, 89%);
    --grayish-blue-color: hsl(220, 15%, 55%);
    --dark-blue-color:hsl(218, 44%, 22%);
    --md-font-size:15px;
    --min-font-size:11px;
    --default-text-align:center;
    --regular-font-weight:400;
    --bold-font-weight:700;
    --mobile-media-query: 375px;
    --desktop-media-query: 1440px;
}

.attribution{
    font-size: var(--min-font-size);
}
.attribution a {color:var(--dark-blue-color)}

body{
    font-size: var(--md-font-size);
    text-align: var(--default-text-align);
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-weight: var(--regular-font-weight);
    font-family: 'Outfit', sans-serif;
}
p{
    color: var(--grayish-blue-color);
}
.main{
    background-color: var(--light-gray-color);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card{
    background-color: var(--white-color);
    width: 15rem;
    height: 25rem;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.QR_CODE{
    margin-top: 1em;
    border-radius: 4%;
    height: 50%;
    width: 90%;
    background-color: var(--dark-blue-color);
}
.QR_CODE img{
   width: 100%;
   border-radius: 4%;
}
.QR_CODE_INFO{
    margin:0rem 2rem;
}